
wiener_ks.py
warta_Ż_ks.py
warta_ks.py
*.manifest
*.toc
*.pyc
build/logowanie_do_k/base_library.zip
build/logowanie_do_k/PKG-00.pkg
build/logowanie_do_k/PYZ-00.pyz
build/logowanie_do_k/xref-logowanie_do_k.html
*.exe
*.spec
*.pickle
kopia zapasowa quickstart.txt
JetBrains PyCharm Community Edition 2018.3.5 x64.lnk
geckodriver.log
credentials.json
dist/debug.log
build/logowanie_do_k/warn-logowanie_do_k.txt
AXA_i_Wienner_GmailAPI.py
accounting/
allianz.py
aws.py
AXA_i_Wienner_GmailAPI.py
AXA_i_Wienner_GmailAPI.py
compensa_ks.py
find_window.py
hestia_ks.py
logowanie_do_k.py
pobieranie raportu AXA.py
proama.py
uniqa_ks.py
quickstart.py
loop over list.py
L_H_ks.py
generali_ks.py
2014 BAZA MAGRO.xlsx
inkaso.xlsx
inkaso do porównania.xlsx
2014 BAZA MAGRO short.xlsx
gotówka 02.2021.xlsx
gotówka 01.2021.xlsx
build/cash_excel/base_library.zip
build/cash_excel/PYZ-00.pyz
build/cash_excel/xref-cash_excel.html
*.pkg
*.pyz
build/doku_miesięczne/warn-doku_miesięczne.txt
build/doku_miesięczne/xref-doku_miesięczne.html
zapisać braki do poliku tekstowego.txt
build/doku_miesięczne/base_library.zip
build/cash_excel/warn-cash_excel.txt
zapisać braki do pliku tekstowego.txt
dorobić euroins.txt
build/wyciąg/base_library.zip
build/wyciąg/xref-wyciąg.html
build/wyciąg/warn-wyciąg.txt
document.txt
practice.py
